<configuration>
  <packageSources>
    <clear/>
    <add key="quantum" value="https://quantumqube.pkgs.visualstudio.com/_packaging/Quantum-Packages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <quantum>
      <clear/>
      <add key="Username" value="VssSessionToken" />
      <add key="ClearTextPassword" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI3MTEzZGVjNC03ZDQyLTZiNGQtYjVjMS1jMzVkODM3MmFhNDIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjYyMjQzZmQtNDdhZS00MzkwLWIzZGUtYTJjZDdjNzQyOTdiIiwic2lkIjoiMDRjNWI0Y2YtMjJiMC00NzQyLTljYmUtYmI0MjI3MTJjM2I0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NzQ0Mjc2ZjEtMjRhZC00MWMwLWExZTgtYzk2OGNlNDg3MGEyIiwibmJmIjoxNTM4ODIzMTEzLCJleHAiOjE1Mzg4MzgwODN9.Avzckk0K2XbFFq27iPCteOgNT0-yKRdgHo7fUCl8KQccMV3k-6jcfH961MsoAsAGF0rm-g0QHbZDJzucNcyvfJ-WTUmXOkuyt1f7JEf6Pd0_e_oC3QJraXPfrGJla_hCi8vhkI8MCILPsVhu5jARvzp0jQYXhwVId7NPy7ETnEBKUTul6XNNsNjUZ8TjvAo1RGyehTKmFn5f-VoaqXqtJnWYxcliMbMHEydWTKKo2HCKZEH7Gpqk-ZhgjVLvo6yoMrmTVotfbFjz_khUZ6T2du8p4OytHG4NN8w8RY3xW8UGGhZRe1hsuFwvQ6Wpa7vPuhM6Zq_nhen3yl9lLPPC-Q"/>
    </quantum>
    <!--<quantum>
      <add key="Username" value="VssSessionToken" />
      <add key="Password" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI3MTEzZGVjNC03ZDQyLTZiNGQtYjVjMS1jMzVkODM3MmFhNDIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYzIwZWFkYmMtY2E2Yi00Yzk0LTllNzktYWFhZjQ2NzE5N2I0Iiwic2lkIjoiN2VlYzVlOGUtYzljOS00Mjg0LWFiMDUtMGM5YzU1NDNkNjI4IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NzQ0Mjc2ZjEtMjRhZC00MWMwLWExZTgtYzk2OGNlNDg3MGEyIiwibmJmIjoxNTM4MDQzOTM0LCJleHAiOjE1MzgwNTg4MTJ9.CFJXMnvWc7lRWyzpsqHQefFN9VMMdIMj733tB-CcjgXBbmaHo8O2ifiSNDLDmw2feXVxWilma3QfhvDnSfMZKeAcufnFWfVdCAnzQwL6RcVUeQoAo8DZolkTLLJhAjEUX0FgLthvS36gk81u0FkgTlyxtdwa0cGGvoB0XtLEDqAw5_WNX2Hr1wZ7klVbY7O9x1DEfHRcqwr60_FORFVDsW2uK2w-BsnedtHRSuRf8mrt7rqo9L_gUL96VLE5RMRoE6AShHZKdX20UdPqiCgnkf0BDxJHq1qdanY2zA_rdx-K7_CxEJf75M7IQHYMbEhkHaECOcrX-8unwu_DBO_wjg" />
    </quantum>-->
  </packageSourceCredentials>
</configuration>
