################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logs
/.vs/AS/v15
/.vs/VSWorkspaceState.json
/obj/Release/netcoreapp1.1
/.vs/slnx.sqlite
/Upload/Profile
/obj
/bin
